.ctas {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.platforms {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  img {
    max-width: 24px;
    max-height: 24px;
  }
}
