.backdrop {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(-45deg, #173647, lighten(#173647, 5%));
  color: white;
}

.title {
  font-size: 4rem;
  font-weight: 300;
}

@media screen and (max-width: 996px) {
  .backdrop {
    padding: 2rem;
  }

  .title {
    font-size: 3rem;
  }
}




