.onceScroller {
  // stick just beneath the nav bar
  position: sticky;
  top: var(--ifm-navbar-height);
  // ensure we dont hide behind code blocks and other components
  z-index: 1;
  // ensure content doesnt show through behind tabs when scrolling
  background-color: var(--ifm-background-color);
  // ensure we have a little whitespace between the tabs and scrolling content
  padding-bottom: var(--ifm-leading);
  > * {
    margin-bottom: 0;
  }
}

.onceTabs {
  // omit the empty content element
  & + * {
    display: none;
  }
}